<!DOCTYPE html>
<html>
  <head>
    <title>   This is a title <%= title %> and the title ends here </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2> My name is Scott </h2>
    <p>Welcome to <%= title %></p>
    <p> This is a paragraph to demonstrate an example of how This
      tag works.  This allows use to break up text into small paragraphs.
    </p>

    <!-- Link for page 2 -->
    <a href="page2"> Click here to go to page 2 </a> <br>

    <a href="http://www.bdpa.org"> Link to BDPA homepage </a> <br>



  </body>
</html>
