<!DOCTYPE html>
<html>
  <head>
    <title>   This is a title <%= title %> and the title ends here </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2> My name is Scott </h2>
    <p>Welcome to <%= title %></p>
    <p> This is a paragraph to demonstrate an example of how This
      tag works.  This allows use to break up text into small paragraphs.
    </p>
  </body>
</html>
