<!DOCTYPE html>
<html>
  <head>
    <title>   This is a title <%= title %> and the title ends here </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2> This is page 2 </h2>
    <p>Welcome to <%= title %></p>
    <p> This is a second page</p>

    <a href="index"> Back to home page</a> <br>
    <hr>

    <form method="post">
      <h1> Registration </h1>
      <label for="username"> Username: </label>
      <input type="text" name="username" id="username"> <br>
      <label for="emailadd"> Email address: </label>
      <input type="email" name="emailadd" id="emailadd"> <br>
      <label for="pword"> Password: </label>
      <input type="password" name="pword" id="pword"> <br>
      <input type="submit" value="Register">


    </form>



  </body>
</html>
